@import 'help/variables';

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 50.2rem;
  padding-top: 4rem;
  .btn.primary {
    max-width: 21rem;
    width: 100%;
  }
  @media (min-width: 1024px) {
    padding: 7rem 0 0 0;
  }
}

.deposit-form {
  width: 100%;
  &__wrap {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__field-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 4.8rem;
    .btn {
      min-width: 100%;
      min-height: 5.9rem;
      @media (min-width: 768px) {
        min-width: 45.2rem;
      }
    }
  }

  &__row {
    display: flex;
    width: 100%;
    padding: 0.83rem 2rem 0.68rem 1.3rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.1rem;
    background-color: rgba(50, 41, 80, 0.6);
    border-radius: 6px;
    @media (min-width: 768px) {
      max-width: 46rem;
    }
  }

  &__col {
    width: 50%;
    display: flex;
    &:first-child {
      align-items: center;
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }

    .btn.secondary {
      padding: 0;
      min-width: 5rem;
      min-height: 2.8rem;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 1;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  &__icon {
    margin-right: 2rem;
    flex: none;
    &_pair {
      max-width: auto;
      display: flex;
      align-items: center;
      img {
        &:nth-child(2) {
          margin-left: -1.2rem;
        }
      }
    }
    img {
      width: 100%;
      max-width: 4.2rem;
      max-height: 4.3rem;
      border-radius: 50%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.67;
    color: $white;
    margin-right: 2rem;
  }

  &__label {
    color: $form-text;
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__input {
    max-width: 14rem;
    overflow-x: scroll;
    padding: 0.4rem 0 0.2rem;
    font-weight: 800;
    text-align: right;
    font-size: 2.4rem;
    line-height: 1.2;
    color: $white;
    &::placeholder {
      color: $white;
      font-weight: 800;
      font-size: 2.4rem;
    }
  }
  &__text {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 27px;
    text-align: center;
    color: $white;
    margin: 0 auto 2.4rem;
  }
  &__btns {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.1rem;
    @media (min-width: 768px) {
      flex-direction: row;
      min-width: 46rem;
      justify-content: space-between;
      align-items: center;
    }
    .btn.secondary {
      margin-bottom: 2rem;
      @media (min-width: 768px) {
        margin-bottom: 0;
        min-width: 21rem;
      }
    }
  }
  &__note {
    font-weight: 350;
    font-size: 1.4rem;
    line-height: 1.3;
    color: $white;
    @media (min-width: 768px) {
      min-width: 46rem;
    }
  }
}

.exchange-info {
  width: 100%;
  margin-bottom: 4.2rem;
  background-image: linear-gradient(180deg, #d12dee 50.05%, #8247e5 96.97%);
  border-radius: 12px;
  padding: 0.1rem;
  position: relative;
  &__board {
    background-color: $primary-text;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 2rem;
    @media (min-width: 768px) {
      padding: 2.7rem 2.1rem 2.4rem;
    }
  }
  &__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.8rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:last-child {
      align-items: flex-end;
    }
  }
  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'JetBrains Mono';
    color: $form-text;
    margin-top: 0.4rem;
    &:last-of-type {
      margin-top: 0;
    }
  }
  &__count {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.2;
    font-family: 'JetBrains Mono';
    color: $white;
    span {
      font-size: 1.8rem;
      margin-left: 0.4rem;
    }
  }
  &__apy {
    font-size: 4.6rem;
    font-weight: 800;
    line-height: 1.2;
    font-family: 'JetBrains Mono';
    color: $white;
  }
  &__icon {
    position: absolute;
    bottom: -2.1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary-text;
    padding: 0 1.5rem;
    width: 7.2rem;
    height: 4.3rem;
    display: flex;
    align-items: center;
    &_pair {
      padding: 0 2.5rem;
      width: auto;
      img {
        &:nth-child(2) {
          margin-left: -1.4rem;
        }
      }
    }
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}
