.tokenomics-section {
    padding: 4rem 0 1rem;
    background-image: url("../images/first-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 768px) {
        padding: 8.4rem 0 4.9rem;
    }
}