$breakpoints: (
	'xl': 1920px,
	'lg': 1280px,
	'md': 768px,
	'sm': 480px,
	'xs': 460px,
);

$black: #000000;
$white: #FFFFFF;

$btn-bg:  #8247E5;
$primary-text:  #0F0C16;
$failure:  #FF8900;
$balance-img: #F6851B;
$form-text: #7776D1;
$tabs: #291539;
$withdraw-bg: #241D39;

$base-font: "Circe";

$base-transition: all 0.3s ease;
